name = "coinswarm-historical-import"
main = "Data_Import/historical_worker.py"
compatibility_date = "2025-11-10"
compatibility_flags = ["python_workers"]

[vars]
CRYPTOCOMPARE_API_KEY = "da672b9999120841fbd4427fa4550b83b5f23e017c5c03ff33bafe09064abe83"

[[d1_databases]]
binding = "DB"
database_name = "pyswarm-cccagg"
database_id = "b37495a5-d7dc-4104-afab-4a9805eb5461"

[[queues.producers]]
queue = "historical-data-queue"
binding = "HISTORICAL_QUEUE"
