name = "historical-data-queue-producer"
main = "historical-data-queue-producer.ts"
compatibility_date = "2024-01-01"

[triggers]
crons = ["*/30 * * * *"]

[[d1_databases]]
binding = "DB"
database_name = "coinswarm-evolution"
database_id = "ac4629b2-8240-4378-b3e3-e5262cd9b285"

[[queues.producers]]
queue = "historical-data-queue"
binding = "HISTORICAL_DATA_QUEUE"

[observability]
enabled = true
head_sampling_rate = 1

[[observability.logs]]
enabled = true
invocation_logs = true
